.header {
  display: flex;
  flex-direction: row;
  height: 51rem;
  background-color: #202020;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  padding: 0 15rem; 
  background-color: red;
}

.text {
  color: white;
  font-size: 25rem;
  line-height: normal;
}
